/*--------------------------------------------
Button Blue CSS
--------------------------------------------*/
QPushButton {
    color: white; 
    background: #4fde9f;
    border: none;
    border-radius: 12px;
    min-width: 5em;
    padding: 6px;
    margin: 0px;
}
QPushButton:hover{
    background: #67e0ac;
}
QPushButton:pressed {
    background: #4fde9f;
    color: #a4d1f0;
}
QPushButton::disabled {
    color: rgba(255, 255, 255, 40%);
    background: rgba(87, 212, 108, 0.6);
}
